version: '3.7'
services:
  mysql-db:
    container_name: mysql-db
    image: mysql:latest
    environment:
      MYSQL_DATABASE: fastapi
      MYSQL_ROOT_HOST: "%"
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    ports:
      - '3306:3306'
    restart: always
    env_file:
      - ./.env
    networks:
      - backend
networks:
  backend:
    driver: bridge

